@charset "UTF-8";

body {
    background-color: rgb(214, 214, 214);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #3F9632;
}
h1#principal {
    background-color: #3F9632;
    color: white;
    text-align: center;
}
h2 {
    color: #3F9632;
}
p {
    color: #3F9632;
}
.basico {
    color: #0089EA;
}
.intermediario {
    color: #EAB000;
    font-weight: bold;
}
.avançado {
    color: #EB0400;
    font-weight: bold;
}
.leitura {
    color: black;
    font-weight: bold;
}