@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
:root {
    --fonte1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte2: "Rubik", sans-serif;
    --fonte3: "Rubik Mono One", monospace;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte2);
}
header {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 5em;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(17, 17, 17);
    color: white;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.507);
    display: inline-block;
    padding: 10px;text-shadow: 1px 1px 0px black;
}
section#img1 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}
section#img2 {
    background-image: url(../imagens/background002.jpg);
}
pre {
    text-align: left;
    white-space: pre-line;
    margin-left: 100px;
    padding: 50px 50px 50px 50px;
    line-height: 2em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
    line-height: 2em;
    font-size: 3em;
}
pre.imagem {
    background-color: rgba(0, 0, 0, 0.486);
    display: inline-block;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}