@charset "UTF-8";

body {
    background-color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}
h1 {

    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
    text-align: justify;
}